@model HomERP.WebUI.Models.CashAccount.CashAccountVM

<h2>Konto</h2>

<form asp-action="Edit" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.Name"></label>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <input class="form-control" asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.InitialAmount"></label>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <input class="form-control" asp-for="@Model.InitialAmount">
            <span asp-validation-for="@Model.InitialAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class=" btn-group">
                <button type="submit" name="submit" value="Zapisz" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Zapisz</button>
                <a asp-controller="Zone" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Anuluj</a>
            </div>
        </div>
    </div>
</form>

