@model HomERP.WebUI.Models.CashAccount.CashAccountListVM

@{
    ViewData["Title"] = "Index";
}

<h2>Konta i portfele</h2>

@Html.Partial("style/Message", Model.PageInfo.Message)

<form asp-action="GroupAction" asp-route-page="@Model.PageInfo.CurrentPage">
    <div class="table-responsive">
        <table class="@Html.Partial("style/table")">
            @Model.PageInfo.Info
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-ok"></span></th>
                    <th><label asp-for="@Model.CashAccounts.FirstOrDefault().Name"></label></th>
                    <th><label asp-for="@Model.CashAccounts.FirstOrDefault().InitialAmount"></label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CashAccounts)
                {
                    <tr>
                        <td><input type="checkbox" name="id" value="@item.Id"></td>
                        <td>@item.Name</td>
                        <td>@item.InitialAmount.ToString("C")</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default btn-xs" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-search"></span> Edytuj</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="btn-group">
        <a asp-action="Add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
    </div>

    @Html.Partial("style/Pagination", Model.PageInfo)

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title danger">Pytanie</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno usunąć zaznaczone pozycje?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="submit" value="Delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Tak</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Nie</button>
                </div>
            </div>

        </div>
    </div>

</form>