@model IEnumerable<HomERP.Domain.Entity.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Konta @Html.ActionLink("Dodaj", "Add", "Account", null, new { @class = "btn btn-default" })</h2>
<div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.InitialAmount)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="text-right">
                        @item.InitialAmount
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", "Account",
                   new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink("Usuń", "Delete", "Account",
                   new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>