@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomERP.WebUI</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .input-validation-error {border-color:red;}
    </style>
</head>
<body>
    <div class="container body-content">
        <div class="col-xs-12">
            <div class="row">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("HomERP", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="collapse navbar-collapse" id="mynavbar-content">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finanse <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink("Płatności", "Index", "Payment")
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            @Html.ActionLink("Konta", "Index", "CashAccount")
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Portfele</a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Kredyty</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Podsumowanie</a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Oszczędzanie</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dokumenty<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Odebrane</a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Do zapłaty <span class="badge">2</span></a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Wysłane</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Majątek<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Wyposażenie</a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Biblioteka</a>
                                        </li>
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Przeglądy i remonty</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rodzina<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Informacje</a>
                                        </li>
                                        <li>
                                            @Html.ActionLink("Użytkownicy", "Index", "FamilyUser")
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kalendarz<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-decoration-line:line-through">
                                            <a href="#">Przypomnienia <span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                </li>

                                @await Html.PartialAsync("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - HomERP.WebUI</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
