@model HomERP.WebUI.Models.PaymentEditVM

@{
    ViewData["Title"] = "View";
}

<h2>Operacja</h2>
@using (Html.BeginForm("Edit", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="col-lg-4 col-sm-6 col-xs-10 col-xs-offset-1">
        @Html.HiddenFor(m => m.Payment.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Payment.Account.Id, Html.DisplayNameFor(m => m.Payment.Account), new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Payment.Account.Id,
     new SelectList(Model.CashAccountList, "Id", "Name", Model.Payment.Account.Id),
     "Wybierz",
     new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Payment.Amount, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Payment.Amount, @Model.Payment.Amount.ToString(), new { @class = "form-control text-right" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Payment.User.Id, Html.DisplayNameFor(m => m.Payment.User), new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Payment.User.Id,
     new SelectList(Model.UserList, "Id", "Name", Model.Payment.User.Id),
     "Wybierz",
     new { @class = "form-control" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Payment.Time, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("Payment.Time", Model.Payment.Time.ToString("yyyy-MM-dd"), new { type = "date", @class = "form-control text-right" })
                </div>
            </div>
        <br />
        <div class="form-group text-right">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @Html.ActionLink("Anuluj", "Index", "Payment", null, new { @class= "btn btn-default" })
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </div>
    </div>
}
