@model IEnumerable<HomERP.WebUI.Models.PaymentViewModels.PaymentVM>

    @{
        ViewData["Title"] = "View";
    }

<h2>Lista operacji <a class="btn btn-default" asp-controller="Payment" asp-action="Add">Dodaj</a></h2>
<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>Rachunek</th>
            <th>Kwota</th>
            <th>Data</th>
            <th>Dodał</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CashAccountName</td>
                <td class="text-right">
                    @item.Amount
                </td>
                <td>@item.Time</td>
                <td></td>
                <td>
                    <a asp-controller="Payment" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-xs">Edytuj</a>
                    <a asp-controller="Payment" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-xs">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    

