@model HomERP.WebUI.Models.FamilyViewModels.FamilyOverviewVM

<h2>Rodzina</h2>
@if (Model.Family == null)
{
    <div class="panel">
        <div class="panel-heading">Uwaga</div>
        <div class="panel-body">Nie należysz jeszcze do żadnej rodziny. Aby dołączyc do istniejącej, musisz otrzymać zaproszenie.
        Możesz także utworzyć własną rodzinę.</div>
        <div class="panel-footer"><a asp-controller="Family" asp-action="Edit" class="btn btn-default">Utwórz rodzinę...</a></div>
    </div>
}
else
{
    <h3>Nazwa: @Model.Family.Name</h3>
    <span>@Model.Family.Description</span>
    <hr />
    <span>Członkowie rodziny:</span>
    <hr />
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FamilyMembers.FirstOrDefault().UserName)</th>
                <th>@Html.DisplayNameFor(model => model.FamilyMembers.FirstOrDefault().Email)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.FamilyMembers)
            {
                <tr>
                    <td>@member.UserName</td>
                    <td>@member.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
